/*---------All Pages-----------*/

/*-------HEADER---------*/
header{
    background-color:#00689a;
    display: grid;
    grid-template-columns: 150px auto;
    margin: auto;
    text-align: center;
}

.logo{
    width: 50px
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav a{
    text-align: center;
    color:white;
    text-decoration: none;
    font-family:"Optima", Helvetica, sans-serif;
    font-size: 1em;
    padding:25px;
}

nav a:hover{
    background-color: white;
    color: black;
}

nav{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

/*------Author Pages------*/

.title{
    font-size: 50px;
    font-family:"Univers", Myriad, "Gill Sans" ;
    text-align: center;
    padding:0px;
    font-variant: small-caps;
}

.author-page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2em;
    padding:2em;
}

.bookcover{
    width: 200px;
    height: 300px;
    border-width: 2px;
    box-shadow: 5px 5px 10px #6f7364;
}

.banner{
    grid-column: 1/5;
    grid-row: 1/4;
    width:85%;
    border:black;
    border-style: outset;
    border-width: 20px;
}
.subtitle{
    grid-column:1/5;
    grid-row: 4/5;
    width: 100%;
    text-align: center;
    font-size:30px;
}
.book1{
    grid-column: 1/2;
    grid-row:5/7;
    
}
.book2{
    grid-column: 2/3;
    grid-row:5/7;
}
.book3{
    grid-column: 3/4;
    grid-row:5/7;
}
.book4{
    grid-column: 4/5;
    grid-row:5/7
}
.quote{
    font-size: 1em;
}
.headshot{
    grid-column: 5/7;
    grid-row: 1/4;
    border:white;
    border-radius: 3px;
}

.biotext{
    grid-column: 5/7;
    grid-row: 3/7;
    padding-top:3em;
}

.biolink{
    text-align:center;
    background-color: #00689a;
    color:white;
    text-decoration: none;
    font-size: 1em;
    padding: 5px 20px;
    margin-top: 50px;
    border-radius: 5px;
}
/*------FOOTER------*/

footer{
    background-color: #00689a;
    font-family:"Optima", Helvetica, sans-serif;
    font-size: 1em;
    padding: 25px 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:white
}

footer .link{
    color:white;
    text-decoration: none;
    font-size: 1em;
    padding:25px;
}

footer .link:hover{
    background-color: white;
    color: black;
    
}

footer .social img{
    padding-top: 15px;
    margin-right: 30px;
}

/*---------BODY----------*/

body{
    max-width: 1600px;
    margin: 0 auto;
    background-color:#96afb8;
    font-family: "Optima", Helvetica, sans-serif;
}
   


/*-------Home Page---------*/

#hometitle{
    display:grid;
    width:100%;
    grid-column: 1/4;
    font-size: 50px;
    font-family:"Univers", Myriad, "Gill Sans" ;
    text-align: center;
    background-color: white;
}

.logo2{
    width:30%;
}

#bodygrid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-color: #96AFB8;
    gap: 2em;
    padding: 2em;
}

#para1{
    grid-column: 1/3;
    grid-row: 1/3;
    padding: 30px;
    font-size: 1.25em;
}

#coverimg1{
    grid-column: 3/4;
    grid-row:1/3 ;
    width: 400px;
    border:10px solid black;
    box-shadow: 5px 5px 10px #6f7364;
    text-align: left;
    
}

#coverimg2{
    grid-column:1/2;
    grid-row:3/6 ;
    width: 400px;
    border:10px solid black;
    box-shadow: 5px 5px 10px #6f7364;
}

#para2{
    grid-column:2/4 ;
    grid-row:3/6 ;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.25em;
    text-align: left;
}

#homesubtitle{
    display:grid;
    text-align: center;
    font-size: 25px;
}

#bottomgrid{
    display:flex;
    justify-content: space-around;
    align-items: center;

    
}
#bsname img{
    grid-column:1/2 ;
    max-width: 400px;
    border:black;
    border-style: solid;
    border-width: thick;
    box-shadow: 5px 5px 10px #6f7364;
}
#bsname img:hover{
    opacity: .6;
    transform: scale(1.1);   
}

#jwname img{
    grid-column:2/3;
    max-width: 400px;
    border:black;
    border-style: solid;
    border-width: thick;
    box-shadow: 5px 5px 10px #6f7364;
}

#jwname img:hover{
    opacity: .6;
    transform: scale(1.1); 
}
#faname img{
    grid-column:3/4 ;
    max-width: 400px;
    border:black;
    border-style: solid;
    border-width: thick;
    box-shadow: 5px 5px 10px #6f7364;
}

#faname img:hover{
    opacity: .6;
    transform: scale(1.1); 
}
/*-------Favorite Books Page-------*/

#image-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.bookimg{
    width: 125px;
    height: 200px;
    margin: 2em;
    border:black;
    border-style: solid;
    border-width: thick;
    box-shadow: 5px 5px 10px #6f7364;
}

#img1{
    grid-column: 1/2;
    grid-row: 1/2;
}
#img2{
    grid-column: 2/3;
    grid-row: 1/2;
}
#img3{
    grid-column: 3/3;
    grid-row: 1/2;
}

/*-------Brandon Sanderson Page-------*/

#bsbio #bsheadshot{
    width:100%;
    border:4px solid #000;
    border-radius: 3px;
}

/*--------Jeff Wheeler Page---------*/